@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
	font-size: 10px;
}

canvas {
    position: absolute;
    display: block;
}

.infos {
	position: absolute;
	margin: 0;
	padding: 0;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: .5rem;
}

.infos--controls {
    bottom: 10px;
    left: 15px;
    text-align: left;
}

.infos--credits {
    bottom: 10px;
    right: 15px;
    text-align: right;
}

#current-season {
    text-transform: capitalize;
}

a {
    text-decoration: none;
    opacity: .7;

    transition: .3s;
}

a:hover {
    opacity: 1;
}
